html{
    box-sizing: border-box;
    height: 100%;
}
body{
    margin: 0;
    background: linear-gradient(320deg, #0D1D5E, #0E1B53);
}
.container{    
    max-width: 100%;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 2rem;
}
.elements{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav{
    padding-top: 0.5rem;
    padding-bottom: 0rem;
}
.header{
    font-family:Baloo;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: rgb(67, 137, 162, 0.6);
    box-shadow:0 4px 10px #031C32;
}
.Mainmenu{
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
.menu__link{
    color:rgb(6, 0, 66);
   font-weight: 400;
   font-size: 25px;
   text-decoration: none;
   transition: color 0,50s;
}
.menu__link__button{
    color:rgb(6, 0, 66);
   font-weight: 600;
   font-size: 4
   0px;
   text-decoration: none;
   transition: color 0,50s;
   background-color: #22CBBF;
   padding: 0.7rem;
   border-radius: 0.5rem;
}
.Inicio{
    font-family:Baloo;
    padding-top: 7.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    justify-content: space-between;
    color: white;
}
.Incio__text{
    padding-right: 2rem;
}
.Incio__text__subtitle{
    font-weight: 40;
    font-size: 30px;
    
}
.Inicio__text__title{
    margin: 0;
    font-weight: 700;
    font-size: 50px;
}
.Inicio__text__p{
    font-family: 'Inter';
    font-weight: 50;
    font-size: 20px;
}
.Inicio__img{
    padding-top: 1.5rem;
}
.Inicio__buttons{
    padding: 0.5rem;
    padding-left: 0rem;
}
.Inicio__button1{
    padding: 0.8rem;
    border-radius: 0.4rem;
    background-color: #5E39F0;
    border-color: #5E39F0;
    font-family: 'Baloo';
    font-size: 20px;
    margin-right: 1rem;
    color: white;
}
.Inicio__button2{
    padding: 0.8rem;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    border-radius: 0.4rem;
    background-color: white;
    border-color: #5E39F0;
    color: #5E39F0;
    font-family: 'Baloo';
    font-size: 20px;
    margin-left: 1rem;
}
.Frase{
    padding-top: 1.5rem;
    text-align: center;
    font-family: 'Baloo';
    color: white;
    font-weight: 10;
}
.Frase__text{
    font-size: 40px;
    font-weight: 5;
}