html{
    box-sizing: border-box;
    height: 100%;
}
body{
    margin: 0;
    background: linear-gradient(320deg, #0D1D5E, #0E1B53);
}
.container{    
    max-width: 100%;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 2rem;
}
.elements{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav{
    padding-top: 0.5rem;
    padding-bottom: 0rem;
}
.header{
    font-family:Baloo;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: rgb(67, 137, 162, 0.6);
    box-shadow:0 4px 10px #031C32;
}
.Mainmenu{
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
.menu__link{
    color:rgb(6, 0, 66);
   font-weight: 400;
   font-size: 25px;
   text-decoration: none;
   transition: color 0,50s;
}
.menu__link__button{
    color:rgb(6, 0, 66);
   font-weight: 600;
   font-size: 4
   0px;
   text-decoration: none;
   transition: color 0,50s;
   background-color: #22CBBF;
   padding: 0.7rem;
   border-radius: 0.5rem;
}
.Inicio{
    font-family:Baloo;
    padding-top: 7.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    justify-content: space-between;
    color: white;
}
.Incio__text{
    padding-right: 2rem;
}
.Incio__text__subtitle{
        font-weight: 40;
        font-size: 30px;
    
}
.Inicio__text__title{
    margin: 0;
    font-weight: 700;
    font-size: 50px;
}
.Inicio__text__p{
    font-family: 'Inter';
    font-weight: 50;
    font-size: 20px;
}
.Inicio__img{
    padding-top: 1.5rem;
}
.Inicio__buttons{
    padding: 0.5rem;
    padding-left: 0rem;
}
.Inicio__button1{
    padding: 0.8rem;
    border-radius: 0.4rem;
    background-color: #5E39F0;
    border-color: #5E39F0;
    font-family: 'Baloo';
    font-size: 20px;
    margin-right: 1rem;
    color: white;
}
.Inicio__button2{
    padding: 0.8rem;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    border-radius: 0.4rem;
    background-color: white;
    border-color: #5E39F0;
    color: #5E39F0;
    font-family: 'Baloo';
    font-size: 20px;
    margin-left: 1rem;
}
.Frase{
    margin-top: 1.0rem;
    margin-bottom: 1.0rem;
    padding-top: 0.1rem;
    padding-bottom: 1rem;
    text-align: center;
    font-family: 'Baloo';
    color: white;
    font-weight: 10;
    background-color: rgba(0, 0, 0, 0.2);
    
}
.Frase__text{
    font-size: 40px;
    font-weight: 5;
}
.Frase__imgs{
    padding-bottom: 10px;
}
.Frase__imgs__alone{
    margin: 10px;
    margin-left: 20px;
    margin-right: 20px;
}
.Beneficios{
    margin-top: 3rem;
}
.Beneficios__header{
    font-family: 'Baloo';
   color: white;
   padding-left: 2rem;
}
.Beneficios__header__h2{
    font-weight: 40;
    font-size: 30px;
    color: #F87B08;
}
.Beneficios__header__h1{
    margin-top: 0rem;
    font-size: 40px;
}
.Beneficios__body{
    display: flex;
}
.Beneficios__body__img{
    padding-left: 6rem;
    margin: 0rem;
}
.Beneficios__body__text{
    color: white;
    margin: 1.5rem;
    padding-right: 2rem;
    margin-top: 1.5rem;

}
.Beneficios__body__text__h{
    font-family: 'Baloo';
    font-size: 30px;
    font-weight: 40;
    
}
.Beneficios__body__text__h1{
    font-family: 'Baloo';
    font-size: 30px;
    font-weight: 40;
    margin-top: 0.0rem;
    margin-top: 0rem;
}
.Beneficios__body__text__p{
    font-family: 'Inter';
    font-size: 20px;
    padding-bottom: 4rem;
}
.Beneficios__body__minititles{
    margin-right: 0.5rem;
    margin-left: 6rem;
}
.Beneficios__body__minititles1{
    padding-top: 0.05rem;
    padding-bottom: 0.05rem;
    padding-left: 0.5rem;
    padding-right: 7rem;
    font-family: 'Baloo';
    color: white;
    background-color: #22CBBF;
    border-radius: 1rem;
    font-size: 35px;
    font-weight: 10;
    margin-bottom: 14rem;
}
.Beneficios__body__minititles2{
    padding-top: 0.05rem;
    padding-bottom: 0.05rem;
    padding-left: 0.5rem;
    padding-right: 7rem;
    font-family: 'Baloo';
    color: white;
    background-color: #5E39F0;
    border-radius: 1rem;
    font-size: 35px;
    font-weight: 10;
    margin-bottom: 13.5rem;
}
.Beneficios__body__minititles3{
    padding-top: 0.05rem;
    padding-bottom: 0.05rem;
    padding-left: 0.5rem;
    padding-right: 7rem;
    font-family: 'Baloo';
    color: white;
    background-color: #F87B08;
    border-radius: 1rem;
    font-size: 35px;
    font-weight: 10;
}