html{
    box-sizing: border-box;
    height: 100%;
}
body{
    margin: 0;
    background: linear-gradient(320deg, #FFFFF, #4389A2);
}
.container{    
    max-width: 100%;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 2rem;
}
.elements{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.header{
    font-family:Baloo;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.377);
    box-shadow:0 4px 10px #031C32;
}
.Mainmenu{
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
.menu__link{
    color:rgb(6, 0, 66);
   font-weight: 400;
   font-size: 20px;
   text-decoration: none;
   transition: color 0,50s;
}
.menu__link__button{
    color:rgb(6, 0, 66);
   font-weight: 600;
   font-size: 4
   0px;
   text-decoration: none;
   transition: color 0,50s;
   background-color: #4389A2;
   padding: 0.4rem;
   border-radius: 0.5rem;
}
